<div class="index">

<h2>予定一覧</h2>

<div class="index1">
  <p><%= link_to "新規追加", new_event_path %></p>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
      
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>

        <td class="all-day-event">
        <% if event.is_all_day %>
          ⚪︎
        <% end %>
        </td>

        <td><%= event.created_at.strftime("%Y-%m-%d %H:%M") %></td><%# 日時の設定 %>
      
        <td><%= link_to "詳細", event_path(event) %></td>
        <!-- 詳細ページへのリンク -->
        <td><%= link_to "編集", edit_event_path(event) %></td>
        <!-- 編集ページへのリンク -->
        <td><%= link_to "削除", event_path(event), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "item-destroy" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
  
  <p>予定合計: <%= @events.count %>件</p>

</div>
