<h3>予定一覧</h3>

<p><%= link_to "新規追加", new_event_path %></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
      
      <td><%= event.id %></td>
      <td><%= event.title %></td>
      <td><%= event.start_date %></td>
      <td><%= event.end_date %></td>
      <td><%= event.all_day %></td>
      <td><%= event.updated_at %></td>
      
        <td><%= link_to "詳細", event_path(event) %></td>
        <!-- 詳細ページへのリンク -->
        <td><%= link_to "編集", edit_event_path(event) %></td>
        <!-- 編集ページへのリンク -->
        <td>削除</td>
        
      </tr>
    <% end %>
  </tbody>
</table>